---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Don't have time to focus on growing your business?",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Spend too much time on administrative tasks?",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Struggle to keep track of student progress and payments?",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Find it difficult to manage your staff and schedules?",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Waste time on repetitive data entry and paperwork?",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Can't easily access important business insights and reports?",
    icon: "bx:bxs-x-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Are you frustrated because you:
 </h2>

</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
