---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Don't have time to focus on growing your business?",
    description: "Administrative burdens consume your day, leaving little time for strategic planning and expansion efforts.",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Spend too much time on administrative tasks?",
    description: "Hours are wasted on paperwork, data entry, and managing routine operations, reducing productivity.",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Struggle to keep track of student progress and payments?",
    description: "Manual tracking leads to oversight, missed payments, and difficulty in assessing individual student performance.",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Find it difficult to manage your staff and schedules?",
    description: "Coordinating teachers, classes, and rooms becomes a complex puzzle, often leading to conflicts and inefficiencies.",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Waste time on repetitive data entry and paperwork?",
    description: "Duplicating information across various systems increases errors and consumes valuable time that could be better spent elsewhere.",
    icon: "bx:bxs-x-circle",
  },
  {
    title: "Can't easily access important business insights and reports?",
    description: "Lack of readily available data makes it challenging to make informed decisions and identify areas for improvement.",
    icon: "bx:bxs-x-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Are you frustrated because you:
 </h2>

</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 my-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
