---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "10 Hours",
    price: "SGD$1700",
    popular: false,
    features: [
      "10 hours of service",
      "Ideal for small projects",
      "Expert consultation",
      "Detailed project report",
      "Follow-up support",
      "Only 5 slots available",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "20 Hours",
    price: "SGD$3000",
    popular: true,
    features: [
      "20 hours of service",
      "Perfect for larger projects",
      "Comprehensive consultation",
      "In-depth project analysis",
      "Extended follow-up support",
      "Priority scheduling",
      "Only 3 slots available",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
];
---

<div class="mt-16" id="section-pricing">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      Pricing
    </h2>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
</div>