---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Consultation",
    description: "We assess your tuition center's needs and goals to tailor our solution.",
    icon: "bx:bx-conversation",
  },
  {
    title: "Customisation",
    description: "Our team configures the system to match your specific processes and requirements.",
    icon: "bx:bx-cog",
  },
  {
    title: "Implementation",
    description: "We set up the system, integrate it with your existing tools, and train your staff.",
    icon: "bx:bx-rocket",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    How it works
 </h2>

</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
